<!DOCTYPE html>
<html>
	<head>
	 <meta charset="utf-8" />
	 <title>My Cool Page</title>
<link rel="stylesheet" href="style.css" />
	 </head>
	<body>
		<h1>Hi Dave</h1>
	    <p>Hello!</p>
	    <p>Goodby!</p>
	    <h2>
	    	<a href="https://www.google.com/"> Click here to google</a>
	    	<p style="color: red;"></p>
	    	<p id="redParagraph"></p>
	    </h2>
	     <div>
	     	Fist DIV
	     </div>
	     <span>
	     	Frist Span
	     </span>
	     <span>
	     	Second Span
	     </span>
{{ content }}
	</body>
</html>
